html {
  scroll-behavior: smooth;
  font-size: 16px;
}

font-family: 'Roboto', sans-serif;
/* Text */
/*
.cover-h1{
  font-family:'Merriweather', serif;
  margin-top: 10px;
}*/

.row {
  margin:10px 0px 10px 0px;
}

body {
  margin: 0;
}


.hero {
  padding: 50px 50px 0px 50px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}
.hero2 {
  color: white;
}

.hero3 {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

img.colImg {
  width: 100%;
  margin-bottom: 15px;
}

p.lg22 {
  font-size:22px;
  line-height: 1.5;
}



.sectionHeading2 {
  text-align: center;
  font-weight: 700;
}

:target:before {
  content:"";
  display:block;
  height:80px; /* fixed header height*/
  margin:-80px 0 0; /* negative fixed header height */
  }




/* Navigation bar */

/* General */
.customNav {
  /*position: fixed;*/
  width: 100%;
  /*background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;*/
  /*background-color: rgb(43, 38, 38);*/
  background-image: linear-gradient(170deg, #c4122E, rgb(128, 146, 163), rgb(41, 46, 51));
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
 
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}

/* Navigation dropdown menu */
.dropdown-menu {
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background: rgb(216, 3, 3);
}



/* Navigation links */
.customNav a {
  color: white !important;
}
.navCTA {
  font-size: 15px;
}

footer {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  margin-top: 50px;
} 
.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;
  height: 100%;
}

/* Jumbotron  */
.jumbotron {
  background-image: url(../images/Hero2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /*background-image: linear-gradient(170deg, rgb(0, 0, 0), rgb(10, 126, 242));*/
  height: calc(100vh - 20px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.jumbotron2 {
  background-image: url(../images/CXMud.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /*background-image: linear-gradient(170deg, rgb(0, 0, 0), rgb(10, 126, 242));*/
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}

/* Jumbotron copy */
.jumboCopy {
  width: 70%;
  min-width: 350px;
  max-width: 700px;
  color: white;
  text-align: center;
}

.profileImg {
  /*height: calc(100vw * 0.25);*/
  padding-top: 90px;
}

.btn-custom2 {
    background-color: #1B458F !important;
    color: white;
  }



.btn-custom3 {
  border:none;
  color:#307afa;
  font-size: 120px;
}



.btn-custom {
  background-color: /*#c95c03 #069917*/ #c4122E;
  color: white;
  border:none;
}
a.btn-custom3:hover {
  color: #f16412;
}
/*.fa-angle-down:hover {
  color: #d47800;
}*/

/* Cards */
.content {
  padding: 50px;
}
.sectionHeading {

  text-align: center;
  font-weight: 900;
}
.sectionHeadingCS {
  font-family: 'Merriweather', serif;
  text-align: center;
  font-weight: 900;
  margin-top: 100px;
}






.cardContainer {
  text-align: left;
}

.card-title_new {

  font-weight: 900;
}




/* Footer */
.emailContain {
  background: url(../images/emailBG.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

/* Footer form */
form {
  width: 500px;
  margin: 35px auto;
  padding: 45px;
  border: 1px solid #F2F2F2;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(170deg, rgb(0, 0, 0), rgb(10, 126, 242));
  color: white;
}



.footer1 {
  background-image: linear-gradient(350deg, #c4122E, rgb(128, 146, 163), rgb(41, 46, 51));
  color: #e6e6e6;

}
.navFlex{
  padding-top: 10px;
  padding-bottom: 10px;
     /* background-color: #0B1F36;
      color: #e6e6e6; */
      text-align: center;} 
}
.navFlex ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-align: center;
}

.navFlex li {
  display:inline-block;
  font-family: 'Roboto', sans-serif;
}

.navFlex li a {
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 8px;
  color: #e6e6e6;
}

ul.no-indentFlex {
  padding-left: 10px;
  /*font-size: 21px;*/
  text-align:left;
}


.list-group-item-action:hover {
  color: white;
  background-color: #1B458F;

}



/*.list-group-item:hover {

}*/

.navbar-toggler {
  background-color: #1B458F;
}


ul.events {
  list-style-type: none;
  margin:0;
  padding:0;
}
li.events {
  border-bottom: 1px solid #dadada;
  line-height: 2;
}